/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/
.myLogo{
    zoom: 0.5;
    -moz-transform: scale(0.5);
}


.filterForm {
    background-color: snow;

}

.myFormLeft {
    float: left;
}

.myFormRight {
    float: right;
}

.error {
    display: inline-block;
    color: red;
}

.product-image-admin {
    position: relative;
    width: 100px;
    height: auto;
    overflow: hidden;
}

.product-image-admin > a,
.product-image-admin .slide a,
.product-image-admin img {
    display: block;
    width: 50%;
    height: 50%;
}

.product-image-admin > a:nth-of-type(2) {
    opacity: 0;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance:textfield;
}

.product-single-image {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.product-single-image > a,
.product-single-image .slide a,
.product-single-image img {
    /*display: block;*/
    width: 100%;
    height: auto;
}

input[type=number]{
    width: 40px;
}


